* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    user-select: none;
}

body {
    position: relative;
}

#header {
    position: fixed;
    top: 0px;
    background-color: #131921;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

/* #search{
    width: 600px;
} */
#center-header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    width: 90%;
    height: 45px;
    border-radius: 6px 0 0 6px;
    padding: 0 0 0 15px;
    border: none;
    font-size: 18px;
    color: rgb(44, 43, 43);

}

#search-button {
    height: 45px;
    width: 50px;
    border-radius: 0 6px 6px 0;
    border: none;
    background-color: #FEBD69;
}

#search:focus {
    outline: 2px solid orange;
}

#amz-logo {
    height: 35px;
    /* margin: 10px 0 0 10px; */
}

#left-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.address-link {
    color: white;
    margin-left: 20px;
}

#right-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* #items-number {
    position: absolute; 
        
    left: 40%;         
    top: -5px;
    background-color: rgb(233, 136, 0);
    color: white;        
    border-radius: 50%; 
    padding: 2px 6px;   
} */
#cart-box {
    height: 50px;
    width: 50px;
    background-size: contain;
    background-image: url(./Icons/cart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 10px;
    color: orange;

}

.language-select {
    vertical-align: middle;
    color: rgb(255, 255, 255);
    height: 22px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    font-size: 16px;

}

.return-and-order-link {
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;

    background-color: rgb(39, 19, 0);
}

.products-container {
    /* text-align: center; */
    margin-top: 70px;
    padding: 60px 20px;
    padding-bottom: 300px;
  
   
    background-color: #C3C3C3;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    flex-wrap: wrap;
    align-content: flex-start;
}

.product-detail {
    background-color: #FFFFFF;
    
    border-radius: 0 0 10px 20px;
    padding: 10px 15px;
    border-top: 1px solid rgb(218, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
   
}

.product-image {
    height: 233px;
    border-radius: 10px 10px 0 0;
    background-image: url(./products/men-cozy-fleece-zip-up-hoodie-red.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.project-shell {
    
    min-width: 261px;
    max-width: 450px;
    flex-grow: 1;
    /*allow to grow these on indiavitual work much better if min width and height is removed*/
    flex-basis: 261px;
    /*flex:1 1 261px;     flex grow  , flex-shrink , flex-basis    shorthand*/
    border-radius: 10px;
    padding: 10px;
    background-color: white;

}

/*Why This Combination?
Combining these three values (1 1 261px) provides a balance between flexibility and initial size:

Flexibility: The flex-grow: 1 allows the item to expand when there's extra space in the container.
Initial Size: The flex-basis: 261px ensures a default width of 261px before considering growth or shrinkage.
Proportional Shrinkage: The flex-shrink: 1 allows the item to shrink when needed but in proportion to other items with the same shrink value.*/
.product-name{
    font-size: 20px;
    color: rgb(53, 52, 52);
    font-weight:400;
    min-height: 48px;
   
    /* white-space: nowrap;   Keep the text on a single line  */
    overflow: hidden;      /* Hide overflowed text */
    text-overflow: ellipsis; /*will show ... instead of just hiding it*/ 
    display: -webkit-box;     /* Use WebKit box layout model */
    -webkit-box-orient: vertical;  /* Orient content vertically */
    -webkit-line-clamp: 2; 
}
.product-rating-stars img{
    height: 25px;
}
.product-rating{
    display: flex;
}
.product-rating-counts{
    align-self:center ;
    margin-left: 15px;
    font-size: 20px;
    color: rgb(76, 76, 76);
}
.product-price{
    font-size: 30px;
    color: rgb(76, 76, 76);
    font-weight:bolder;
}
.product-addtocart{
    background-color: rgb(255, 225, 0);
    width: 70%;
    padding: 8px;
    border-radius: 60px;
    text-align: center;
    border: none;
    
}
.product-add-quantity{
    display: flex;
    justify-content: space-between;
    
}
.quantity{
    font-weight: bolder;
    border: 2px solid rgb(213, 213, 213);
    height: 40px;
    border-radius: 12px;
    background-color: rgb(228, 228, 228);
    width: 15%;
    padding-left: 5px;
    

}