* {
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid black; */

}

html {
    background-color: #EAEDED;
}

#amazon-logo {
    height: 50px;
    margin: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}

#Checkout-head{
    position: relative;
    text-align: center;
    padding: 10px;
    margin-bottom: 60px;
}
#Checkout{
    margin: 0;
}
#cart-q{
    color: orange;
}