* {
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid black; */

}

html {
    background-color: #EAEDED;
}

#amazon-logo {
    height: 50px;
    margin: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}

#Checkout-head{
    position: relative;
    text-align: center;
    padding: 10px;
    margin-bottom: 60px;
}
#Checkout{
    margin: 0;
}
#cart-q{
    color: orange;
}

@media(max-width:1220px) {

    #amazon-logo{
        /* display: none; */
        height: 20px;
        margin: 0px;
       
    }
    #Checkout{
        padding-top: 20px;
        font-size: 20px;
    }
    #Checkout-head{

        margin-bottom: 10px;
    }
   
}

#delete-all-item{
    cursor: pointer;
}